@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$primary-color:#ff7597;
$secondary-color:#FF0266;

$primary-bg:#222222;
$secondary-bg:#000;
$light-bg:#333;

$font-family:'Noto Sans', sans-serif;
$primary-text:#fffff8;
$secondary-text:#BDBDBD;

