.collection-card{
    .left{
        width:100%;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:5px;

        div{
            display:flex;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }
        
          

    }
    
}


@media only screen and (max-width:1200px){
    .collection-card{
       .left{
           
        
          
       }
    }

}