@import './base.scss';

.card-customized{
    margin-bottom: 1.25rem;
    padding:10px;
    display:grid;
    grid-template-columns: 10vw 1fr;
    background: $secondary-bg;
    width:100%;
    min-height:10vw;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    .card-img{
        height:10vw;
        object-fit: cover;
    }

    .right{
        padding-left:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   

}

a{
    display:block;
}


@media only screen and (max-width:1200px){
    .card-customized{
        grid-template-columns:20% auto;
        height:220px;
        .card-img{
            height:100%;
            object-fit: cover;
        }
    }
    
}

@media only screen and (max-width:768px){
    .card-customized{
        height:160px;
        
    }

}
