@import '../components/base.scss';

.collection-closed{
    display:flex;
    justify-content: flex-end;
}

.collection-head{
    display:grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 3em;
    align-items: flex-end;
    h2{
        color:$primary-text;
        line-height: 2;
    }
}

.collection-feature-container{
    margin:3em 0;
   
    &>div{
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2em;
       
        div{
        box-shadow: 4px 5px 6px rgba($color: #000000, $alpha: 0.6);
       }
        
    }
    

}

.all-collection{
    .card-columns{
        column-count: 3;
    }

}




@media only screen and (max-width:1200px){
    .collection-head{
        grid-template-columns: 1fr;
    }
    .collection-feature-container{
        div{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .all-collection{
        .card-columns{
            column-count: 2;
        }
    
    }
}

@media only screen and (max-width:768px){

    .all-collection{
        .card-columns{
            column-count: 1;
        }
    
    }
   

}