@import './components/base.scss';

.main-container{
    padding: 10em 3em 10em calc(153px + 3em) ;
}

.square{
    width:100%;
    background-color:$secondary-bg;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.expand-btn{
    display:flex;
    background: $secondary-bg;
    color:$secondary-color;
    border: 1px solid $secondary-color;
    padding:0.5em 1em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin:0 auto;
    

}

.page-head{
    display:flex;
    justify-content: space-between;
}